<!-- LE COMPOSANT LOGIN -->
<div class="grid-x">
  <div class="cell">
    <div class="formEnseigne">
      <div class="grid-container">
        <form method="post">
          {% if error %}
            <div data-alert class="alert-box alert-error">
              <div class="callout alert">
                <span>
                  {{ error.messageKey|trans(error.messageData, 'security') }}
                </span>
              </div>
            </div>
          {% endif %}
          <fieldset class="fieldset">
            <legend>
              Entrez vos infos de connexion puis validez
            </legend>
            <div class="cell">
              <label>
                Email <input type="email" value="{{ last_username }}" name="email" id="inputEmail" 
                class="form-control" placeholder="Email"
                 required autofocus>
              </label>
            </div>
            <div class="cell">
              <label>
                Mot de passe  <input type="password" name="password" id="inputPassword" 
                class="form-control" 
                placeholder="Password" required>
              </label>
            </div>
            <div>
              <input type="hidden"
                name="_csrf_token"
                value="{{ csrf_token('authenticate') }}" />
            </div>
            <div class="cell-2">
              <button type="submit" class="button">
                Valider
              </button>
            </div>
            <div class="cell-2">
              <input id="checkbox" type="checkbox" name="_remember_me" />
              <label for="checkbox">
                Remember me
              </label>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- FIN COMPOSANT LOGIN -->
