	<div class="grid-x">
		<div class="cell">
			<div class="formEnseigne">
				{{ form_start(form) }}
				<div class="grid-container">
					<fieldset class="fieldset">
						<legend>Form Enseigne</legend>
						{{ form_row(form.nom) }}
						<div>
							<button type="submit" class="button primary tiny">{{ button | default("Valider")}}</button>

						</div>
					</fieldset>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>